.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-size: 20px;
}

.content {
    display: flex;
    flex: 1;
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: calc(100% - 260px); /* התאמה לרוחב הסיידבר */
    width: 100%; /* תופס את כל הרוחב הפנוי */
    overflow-y: auto; /* מאפשר גלילה אם התוכן גדול מדי */
}

.create-post-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.post-list-container {
    width: 100%;
    max-width: 1000px; /* הגבלה לרוחב מקסימלי */
}

/* התאמה למסכים קטנים יותר */
@media (max-width: 768px) {
    .main-content {
        padding: 20px;
        max-width: 100%; /* תופס את כל הרוחב במסכים קטנים */
    }
}