.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: linear-gradient(135deg, #1a1a1b, #232324);
    padding: 12px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 150px;
    height: auto;
    border-radius: 7px;
}

.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #272729;
    border-radius: 20px;
    padding: 6px 15px;
    width: 350px;
    max-width: 50%;
    border: 2px solid #b34724; /* 住专转 爪注   */
    box-shadow: 0 2px 5px rgba(179, 71, 36, 0.5);}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #d7dadc;
    padding: 5px;
}

.search-icon {
    color: #d7dadc; /* 住专转 爪注   */
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    position: relative;

       
}

.welcome-text {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}


.profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px; /*  转  */
    height: 36px;
    border-radius: 50%;
    background: #eaebed;
    border: 1px solid #525252;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.profile-icon:hover {
    border-color: orange; /*  住专转 转 拽住转 */
}
  

.profile-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-menu {
    position: absolute;
    top: 45px;
    right: 0;
    background: #1a1a1b;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);    width: 200px;
    width: 180px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
   
}

.dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item {
    padding: 10px 18px;
    text-align: left;
    text-decoration: none;
    color:  #d7dadc;
    cursor: pointer;
    display: block;
    font-weight: 500;
}

.dropdown-item:hover {
    background: rgba(255, 255, 255, 0.071);
    color:  #d7dadc;
}

.profile-icon:hover + .dropdown-menu,
.dropdown-menu:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.logout-btn {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.logout-btn:hover {
    color: red;
}


