
.profile-container {
    padding-top: 20px;
    padding-left: -40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: 16px;
}

.profile-card {
    background: linear-gradient(135deg, 
        #2c2c2c,   
        #595755 40%,
        #eb5808 130%,  
        #1a1a1a);      
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 440px;
}

.profile-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: 3px solid #ddd;
    overflow: hidden;
    margin: 0 auto;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.default-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #ddd;
    border-radius: 50%;
}

.default-profile-icon {
    font-size: 40px;
    color: #666;
}

.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-upload input[type="file"] {
    width: 200px;
    height: 34px;
    padding: 4px 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.image-info {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 8px;
}

.profile-details {
    background: linear-gradient(135deg, 
    #2c2c2c,   
    #595755 40%, 
    #eb5808 130%,  
    #1a1a1a);        
    padding: 36px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 620px;
    height: 500px;
}


.profile-details h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.profile-details label {
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

/* שדות הטופס */
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.input-field:focus {
    border-color: #0f0d0d;
    outline: none;
}

.read-only {
    background: #f5f5f5;
    cursor: not-allowed;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.save-button {
    background: #1b1a19;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 14px;
}

.delete-button {
    background: #830512;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 14px;
}
